<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/adminPost.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <title>Document</title>
</head>

<body>
    <form action=<%=post?"/update/"+post.id:"/post" %> method="post" enctype="multipart/form-data">
        <div><a href="/managePosts"><i class="fas fa-arrow-left"></i></a></div>
        <div>
            <label>Image</label>
            <label for="file-upload" class="custom-file-upload">
                choose file
            </label>
            <input type="file" accept="image/*" id="file-upload" name="img">
            
        </div>
        <div>
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Title here" value="<%= post?post.title:'' %>">
        </div>
        <div>
            <label for="content">Body</label>
            <textarea name="content" id="content" cols="30" rows="10"
                placeholder="Body here"><%= post!==null?post.content:'' %></textarea>
        </div>
        <div>
            <button type="submit">Post</button>
        </div>
    </form>
</body>

</html>